@{
    ViewData["Title"] = "修改管理員";

}

<h1>修改管理員</h1>

<form method="post">
    <div class="input-group mb-3">
        <input type="hidden" name="ActionType" value="Add" />
        <input type="text" name="User.UserId" class="form-control" placeholder="請輸入要新增者的學號" aria-label="學號" aria-describedby="button-add">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-add">新增</button>
        </div>
    </div>
</form>
<form method="post">
    <div class="input-group mb-3">
        <input type="hidden" name="ActionType" value="Delete" />
        <input type="text" name="User.UserID" class="form-control" placeholder="請輸入要刪除者的學號" aria-label="學號" aria-describedby="button-de">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-de">刪除</button>
        </div>
    </div>
</form>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" style="color: black;">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" style="color: black;">@TempData["ErrorMessage"]</div>
}