
@{
    ViewData["Title"] = "新增案件種類";
}
@section topCSS{
    <link href="~/css/reciseg.css" rel="stylesheet" />
}
<div class="maintop">
    <div class="title">
        <h1>新增案件種類</h1>
    </div>
</div>
<hr class="divider">
<div class="postgroup">
    <div class="w-50">
        <form method="post">
            <div class="input-group mb-3">
                <input type="text" name="CategoryName" class="form-control" placeholder="請輸入要新增種類名稱" aria-label="種類名稱" style="color: black" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="CategoryMinDay" class="form-control" placeholder="請輸入要案件時程最小天數" aria-label="時程最小天數" style="color: black" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="CategoryMaxDay" class="form-control" placeholder="請輸入要案件時程最大天數" aria-label="時程最大天數" style="color: black" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="CategoryGerentReview" class="form-control" placeholder="請輸入要案件門檻票數" aria-label="門檻票數" style="color: black" required>
            </div>
            <div class="postgroupbtn">
                <button type="submit" class="btn btn-outline-light" >提交</button>
            </div>
        </form>
    </div>
</div>
