
@{
    ViewData["Title"] = "Failurepage";
}

@section topCSS{
    <link href="~/css/ErrorStyle.css" rel="stylesheet" />
}
<div class="title">
    <h1>Error! 錯誤!</h1>
</div>


<div class="Er">
    <div class="Erlogo">
        <a class="navbar-brand" href="/Home">
            <img src="~/images/logo.png" />
        </a>
    </div>
    <div class="Ertest">
        <h2>查無結果</h2>
        <h3>點擊logo回主頁吧</h3>
    </div>

</div>