@model ScanViewModel
@{
    ViewData["Title"] = "Home Page";

    List<Proposal> proposals = Model.Proposals;
    List<Vote> votes = Model.Votes;

    int agree = 0;
    int messge = 0;
}
@section endJS{
    <script type="text/javascript">
        //提案model轉換script的Object
        let result = @Html.Raw(Json.Serialize(proposals));
        //查詢結果Div
        const div = document.getElementById("search-content");

        $('#hingebtn').click(function(){
            div.innerHTML = "";
            div.style.padding = "0";
            //查詢的Value
            let searchValue = document.getElementById("hinge").value.toLowerCase();
            //判斷所有資料是否有包含value
            if(!searchValue){
                alert("請輸入關鍵字!!");
            }
            else{                
                let TureNum = 0;
                result.forEach(function (item, index) {
                    let titleTure = item.title.includes(searchValue);
                    if (titleTure) {
                        TureNum++;
                        let a = document.createElement("a");
                        let content = item.pcontent.substring(0, 50);
                        
                        a.className = "btn btn-outline-dark";
                        a.innerHTML = `提案:${item.title}<hr>內容:${content}...`;
                        
                        div.append(a);
                        div.style.padding = "1.5% 2%";
                    }
                    else if(index+1 == result.length && TureNum==0){
                        alert(`未有與${searchValue}相關的提案!!`);
                    }
                    if ((index + 1) == result.length && (TureNum%2)==1){
                        let oddIsLast = document.querySelector('#search-content a:last-child');
                        oddIsLast.className += " oddWidth";
                    }
                });
            }
        });
    </script>
}

<nav>
    <form class="search" name="search">
        <input id="hinge" name="hinge" class="form-control" type="text" placeholder="請輸入關鍵字"/>
        <button id="hingebtn" type="button" class="btn btn-secondary btn-sm">搜尋</button>
    </form>
    <div id="search-content"></div>
</nav>
<div id="proposal">
    @foreach(var prop in proposals)
    {
        <a class="maincard col-6" href="#">
            @switch (prop.CategoryId)
            {
                case "C001":
                    <img src="~/images/campus_icon.jpg" />
                    break;
                case "C002":
                    <img src="~/images/classroom_icon.jpg" />
                    break;
                case "C003":
                    <img src="~/images/dormitory_icon.jpg" />
                    break;
                case "C004":
                    <img src="~/images/restaurant_icon.jpg" />
                    break;
                default:
                    break;
            }
            <div>
                <h3>@prop.Title</h3>
                <ul>
                    @foreach (var vote in votes)
                    {
                        if (vote.ProposalId == prop.ProposalId)
                        {
                            messge++;
                            if (vote.Crucial == true)
                            {
                                agree++;
                            }
                        }
                    }
                    <li>同意數： @agree</li>
                    <li>留言數： @messge</li>
                </ul>
            </div>
        </a>
    }
</div>

@section topCSS
{
    <link rel="stylesheet" href="~/css/mainStyle.css" />
}
