@{
    ViewData["Title"] = "variousrooms";
}



@section topCSS
    {
    <link href="/css/VariousStyle.css" rel="stylesheet" />
}


<body>
    <div class="maintop">
        <div class="VaName">
            <h1>各處室</h1>
        </div>
    </div>
    <div class="main">
        <div class="main-wh row">

            <a class="btn col-md-4" href="https://aa.chu.edu.tw/index.php">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">教務處</span>
                </div>
            </a>
            <a class="btn col-md-4" href="https://ga.chu.edu.tw/?Lang=zh-tw">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">總務處</span>
                </div>
            </a>
            <a class="btn col-md-4" href="https://sa.chu.edu.tw/?Lang=zh-tw">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">學務處</span>
                </div>
            </a>
            <a class="btn col-md-4" href="https://lis.chu.edu.tw/">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">圖資處</span>
                </div>
            </a>
            <a class="btn col-md-4" href="https://re.chu.edu.tw/">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">招生處</span>
                </div>
            </a>


        </div>
    </div>

</body>
