@{
    ViewData["Title"] = "variousrooms";
}



@section topCSS
    {
    <link href="/css/VariousStyle.css" rel="stylesheet" />
}

<h1>各處室</h1>
<body>
    <div class="main">
        <div class="main-wh row">

            <a class="btn col-md-4" href="#">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">教務處</span>
                </div>
            </a>
            <a class="btn col-md-4" href="#">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">總務處</span>
                </div>
            </a>
            <a class="btn col-md-4" href="#">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">學務處</span>
                </div>
            </a>
            <a class="btn col-md-4" href="#">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">輔導處</span>
                </div>
            </a>
            <a class="btn col-md-4" href="#">
                <div class="btn-content">
                    <img class="main-btn-img" src="~/images/campus_icon.jpg" alt="###">
                    <span class="main-btn-text">招生處</span>
                </div>
            </a>


        </div>
    </div>

</body>
