<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>校園政策平台網 - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/hfStyle.css" />
    @*<link rel="stylesheet" href="~/css/mainStyle.css" />*@
    @await RenderSectionAsync("topCSS", required: false)
    @await RenderSectionAsync("topJS", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <a class="navbar-brand" href="/Home">
                        <img src="~/images/logo.png" />
                    </a>
                    <a class="navbar-brand" href="/Home">校園政策平台網</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if  (User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Home">首頁</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Propose">提案</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Supervision/Pending/">監督</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Department">各處室</a>
                                </li>
                            }
                            else if (User.IsInRole("Gerent"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Gerent/Revise/">修改人員</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Gerent/Pending">處理案件區</a>
                                </li>
                            }
                        }
                        <partial name="_LoginStatusPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="col-6">
                <div>
                    <h4>聯絡資訊</h4>
                    <h5>
                        30012 新竹市香山區五福路二段707號<br>
                        707, Sec.2, WuFu Rd., Hsinchu, Taiwan 30012, R.O.C.<br />
                        電話：03-5374281~5 傳真：03-5373771
                    </h5>
                </div>
                
            </div>
            <div class="col-6">
                <div>
                    <h4>緊急聯絡</h4>
                    <h5>
                        校園安全專線：0972590728 (全日)<br>
                        學生宿舍專線：03-5376000, 03-5375015
                    </h5>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @await RenderSectionAsync("endCSS", required: false)
    @await RenderSectionAsync("endJS", required: false)
</body>
</html>
