body {
    height: 800px;
}

.maintop {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.GerentS {
    border: 1px solid #fff;
    width: 30%;
    text-align: center;
    Border-radius: 20px;
}

.main-wh {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.main-name {
    width: 15%;
    margin: auto;
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#proposal {
    border: 2px dashed #fff;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    justify-content: center;
}
    #proposal h1 {
        color: #f4a03c;
    }

    #proposal h3 {
        color: #3500ffab;
    }

    #proposal img {
        width: 40%;
    }

    #proposal .Gerentcard {
        display: flex;
        align-items: center;
        height: 230px;
        color: #000;
    }

    #proposal nav {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        #proposal nav .pagination {
            margin: 10px;
        }

.Gerentcard:hover {
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #999;
}

.Gerentcard div {
    flex-grow: 1;
}

.Gerentcard ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}


.page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

    .page a {
        font-size: 20px;
    }

.page-link {
    background-color: unset;
    border-color: #000;
    color: #000;
}

    .page-link:hover {
        background-color: #fff5;
        color: #000;
    }

#btncard {
    margin-top: 1%;
    text-align: center;
    display: flex;
    gap: 200px;
}
.GrentPs {
    border: 1px solid #fff;
    Border-radius: 20px;
    text-align: center;
}
