body {
    display: flex;
    flex-direction: column;
}

.title {
    border-bottom: 3px solid rgb(255 130 130);
    width: 22%;
}
.Er {
    display:flex;
    justify-content:center
}
.Ertest {
    margin-top:5%
}