html, body {
    display: flex;
    flex-direction: column;
    background-color: #555;
    height:100%;
}

*>h1, *>h4{
    margin: 5px 0;
    padding:5px;
}

nav .container div {
    display: flex;
    align-items: center;
}

nav .navbar-brand {
    margin: auto;
    padding: 0;
}

nav a img {
    width: 70px;
}

nav div ul {
    justify-content: end;
}
    nav div ul a:hover {
        border-bottom:1px solid #000;
    }
.log>li {
    padding:0 10px;
}

body>.container{
    flex:1;
}
body>.container *, footer *{
    color:#fff;
}

.footer{
    position:unset;
}
.footer .container {
    display: flex;
}

.footer * {
    width: 100%;
}

.footer .col-6 {
    padding: 10px;
}

.footer h5 {
    white-space: normal;
}
