nav .container div {
    display: flex;
    align-items: center;
}

nav .navbar-brand {
    margin: auto;
    padding: 0;
}

nav a img {
    width: 70px;
}

nav div ul {
    justify-content: end;
}
.footer{
    position:unset;
}
.footer .container {
    display: flex;
}

.footer * {
    width: 100%;
}

.footer .col-6 {
    padding: 10px 0;
}

    .footer .col-6:last-child {
        text-align: center;
    }

.footer h5 {
    white-space: normal;
}
