form {
    display: flex;
    flex-direction: column;
}

form #Title {
    font-size: 16px;
    padding: 6px 10px;
    color:#000;
}

form #CategoryId {
    padding:5px;
    position:relative;
    color:#000;
    border-radius:0.25rem;
    height:38px;
}
#CategoryId option{
    color:#000;
}

.content-area{
    display:flex;
    margin:10px 0;
    gap:20px;
}
.content-area>div{
    padding:0;
}

form #Pcontent, #GainsInfluential {
    height: 200px;
    font-size: 16px;
    padding: 10px;
    resize: none;
    color:#000;
}

form .btn {
    font-size: 20px;
    width: 20%;
    border-radius: 50px;
    margin: 20px auto;
}

@media screen and (max-width: 768px) {
    form .btn {
        width: 120px;
    }
    .content-area{
        flex-wrap:wrap;
    }
    .col{
        min-width:100%;
    }
}
