body {
}

.maintop {
    display: flex;
    justify-content: center;
}

.divider {
    clear: both;
    border: none;
    border-top: 1px dashed #ccc;
    margin: 20px 0;
}
.title {
    width: 40%;
    text-align: center;
    Border-radius: 20px;
    border: 1px solid #fff;
}
.postgroup {
    display: flex;
    justify-content: center;
}
.postgroupbtn {
    display: flex;
    justify-content: center;
}
    .postgroupbtn button {
        width: 20%;
        font-size: 20px;
    }
