.response_area{
    width:960px;
    height:400px;
    margin:auto
}
h1 {
    text-align:center;
}
.response_area textarea{
    width:100%;
    height:300px;
    color:black;
}
.response_btn {
    width: 100%;
    height: 200px;
    text-align: center;
}
.response_btn button {
    border-radius: 20px;
    width:30%;
    height:20%;
}