body {
    height: unset;
}

.main_tops {
    background-color: unset;
}

    .main_tops .main-wh {
        width: 60%;
        margin:auto;
    }
    .main-wh h2:not(.vote_total h2){
        padding:10px;
    }

nav>ol{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    padding:0;
}

.title h1 {
    text-align: center;
    border-radius: 3px;
    background-color: bisque;
    margin: 30px 0px
}

.vote_total {
    display: flex;
    margin: 10px 0;
    background-color: antiquewhite;
}
    .vote_total>div{
        padding:15px;
    }
    .vote_total .col-4 + .col-4 {
        border-left: 5px solid #fff;
    }
    .vote_total .col-4:not(.col-4:last-child){
        border-right: 5px solid #fff;
    }
    .vote_total div *{
        margin:0;
    }

    .vote_left canvas {
        margin: 10px 0;
    }

    .vote_middle h2, .vote_middle p {
        text-align: center;
        font-weight: 600;
    }

.schedule {
    border: 5px solid skyblue;
    display:flex;
    flex-direction:row;
}
.schedule div{
    padding:0;
}
    .schedule div + div {
        border-left: 1px solid skyblue;
    }
    .schedule div:not(div:last-child) {
        border-right: 1px solid skyblue;
    }
.schedule img
{
    width:100%;
}

.content_title h2, .benefit_title h2 {
    background-color: bisque;
    width: fit-content;
    margin: 10px 0px;
}



.content_1, .content_2 {
    background-color: antiquewhite;
    padding: 10px;
}

    .content_1 p, .content_2 p {
        font-size: 20px;
        margin:0;
    }

.vote_btn {
    display: flex;
    gap: 0px 20px;
    justify-content: space-evenly;
    margin: 100px 0px 50px 0px;
}

    .vote_btn button {
        width: 300px;
        height: 50px;
    }

.response_area {
}

/* massage */
.message_area {
    text-align: center;
}

.container_msg {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    /*padding:0px 20px;*/
}
.alert>h3{
    margin:unset;
}

.card {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
}

.text ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.text {
    width: 80%;
}

.icon {
    width: 20%;
}

    .icon i {
        font-size: 100px;
    }

.text p {
    margin: 0px 10px;
}

/* response */
.response_area {
}

    .response_area h2 {
        text-align: center;
    }
