.breadcrumb-item.active {
    color: #fff9;
}
nav > ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.text_title {
    height: 230px;
    background-color: #60a560;
    border-radius: 40px 0px 40px 0px;
    display:flex;
    justify-content:center;
    align-items:center;
}
    .text_title h1 {
        text-align: center;
        font-size: 75px;
        font-weight: bold;
        color: white;
    }


.top {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    gap:20px;
    height:300px;
    margin:20px;
}

.axc {
    height:100%;
    background-color: #60a560;
    opacity: 90%;
    line-height: 50px;
    border-radius: 40px 0px 40px 0px;
    padding:10px;
}
.axc canvas{
    margin:auto;
}
.axc>div{
    height:50%;
}
.axc h2{
    text-align:center;
    font-weight:bolder;
}
.axc p{
    text-align:center;
    font-size:25px;
}

.time{
    width:100%;
    padding:20px;
}

.schedule {
    border: 1px solid #7d7070;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.schedule div {
    padding: 0;
}

.schedule img {
    margin-top: 3%;
}

    .schedule p {
        font-size: 30px;
        color: white;
    }

.chapter1 {
    width: 100%;
    background-color: #60a560;
    opacity: 0.9;
    margin: auto;
    padding: 5% 10%;
    /* 左側 右側空格寬度 */
    margin: auto;
    border-radius: 40px 0px 40px 0px;
}
.chapter1 h2, .chapter1 p{
    margin:0;
}

.chapter1 h2 {
    color:white;
    text-align: center;
    font-size: 40px;
    opacity: 0;
    /* 設置初始透明度為 0 */
    transform: translateY(-20px);
    /* 將元素上移 20px */
    animation: slide-in 1s forwards;
    /* 使用動畫效果 */
}

.chapter1 p {
    /* 左右各留 20px 的空格 */
    white-space: pre-wrap;
    /* 設定換行方式為自動換行 */
    font-size: 25px;
    font-weight: bold;
}


.hr1 {
    border: 2px solid #777;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.pass, .response_button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
}
.vote_btn {
    display: flex;
    gap: 0px 20px;
    justify-content: space-evenly;
    margin: 50px;
}
    .vote_btn p, .response_area h3 {
        color: #000;
    }
.vote_btn button {
    width: 300px;
    height: 50px;
}


/* massage */
.message_area {
    text-align: center;
}
    .message_area > div, .response_area > div {
        border-radius: 40px 0px 40px 0px;
    }
.message_area h2 {
    color: white;
}

.container_msg {
    display: flex;
    flex-wrap: wrap;
    background-color: #60a560;
    /*padding:0px 20px;*/
}
    .container_msg>nav{
        margin:auto;
    }

.alert > h3 {
    margin: unset;
    padding: 10px 0;
}

.card {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: #777;
    padding:10px 0;
}

.text ul {
    font-size:20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.text p{
    font-size:20px;
}
.text {
    width: 80%;
}

.icon {
    width: 20%;
}

.icon i {
    font-size: 100px;
}

.text p {
    margin: 0px 10px;
}
/* response */
.response_area h2 {
    text-align: center;
    color: white;
}

@keyframes slide-in-rectangle {
    0% {
        left: -1000px;
    }

    100% {
        left: calc(21% - 100px);
    }
}

@keyframes slide-in-chapter1 {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
