hr + div {
    width: 100%;
    display: flex;
    gap: 20px;
}
hr{
    background-color:#999;
}

div + h2{
    text-align:center;
    margin: 50px 0;
}

form .vote, .illust {
    padding: 10px;
    border: 2px dashed #fff;
    background-color:#777;
}

form p{
    font-size: 24px;
    margin:unset;
}
form p+p{
    font-size:20px;
}

form div+div{
    margin: 50px 0;
    width:100%;
    display:flex;
    justify-content:center;
    gap:50px;
}
body>.container form textarea{
    width:100%;
    resize:none;
    color:#000;
}
form .btn{
    font-size:20px;
}

form .none{
    display:none;
}

.illust ul{
    list-style-type:decimal;
}
.illust li{
    font-size:18px;
}